@import '../../assets/stylesheets/var.scss';

.header {
  // position: fixed;
  // right: 0;
  // left: 0;

  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  height: $header-height;
  background-color: #fff;
  border-bottom: 1px solid #f0f0f0;
}

.logoWrapper {
  height: 100%;
  .logo {
    height: 100%;
  }
}

.navWrapper {
  display: flex;
  align-items: center;
  height: 100%;
  .leftNav {
    display: flex;
    align-items: center;
    margin-right: 20px;
    .navItem {
      margin: 0 10px;
      padding: 14px;
      color: #333;
      font-size: 16px;
      text-decoration: none;
      &.active {
        color: $color-primary;
      }
      i {
        margin-right: 4px;
        font-size: 20px;
      }
    }
  }
  .rightNav {
    flex: 1;
    .login {
      padding: 14px;
      font-size: 16px;
      color: #969696;
      background-color: transparent;
    }
    .font {
      margin-right: 10px;
      padding: 14px;
      font-size: 16px;
      color: #969696;
    }
  }
  .searchWrapper {
    position: relative;
    .searchInput {
      padding: 0 40px 0 20px;
      width: 160px;
      height: 38px;
      font-size: 14px;
      border: 1px solid #eee;
      border-radius: 40px;
      background: #eee;
      transition: width 0.5s;
      transition-delay: 0.1s;
      outline: none;
      &:focus {
        width: 250px;
        transition-delay: 0s;
      }
      &:focus + .searchIcon {
        background-color: #969696;
        border-radius: 50%;
        color: #fff;
      }
    }
    .searchIcon {
      position: absolute;
      top: 4px;
      right: 4px;

      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      color: #969696;
      font-size: 18px;
      cursor: pointer;
      &:hover {
        color: $color-primary;
      }
    }
    .searchResult {
      position: absolute;
      top: 100%;
      left: 0;

      box-sizing: border-box;
      margin-top: 8px;
      padding: 14px;
      width: 300px;
      border-radius: 4px;
      background-color: #fff;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
      &::before {
        content: '';
        position: absolute;
        top: -6px;
        left: 10%;
        width: 24px;
        height: 24px;
        transform: rotate(45deg);
        background-color: #fff;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
        z-index: -1;
      }
      &::after {
        content: '';
        position: absolute;
        left: 10%;
        bottom: 100%;
        width: 0;
        height: 0;
        border: 12px solid transparent;
        border-bottom-color: #fff;
      }
      .title {
        font-size: 16px;
        color: #969696;
        line-height: 20px;
        .change {
          float: right;
          font-size: 14px;
          cursor: pointer;
          &:hover {
            color: $color-primary;
          }
          i {
            display: inline-block;
            font-size: 14px;
            transform: rotate(45deg);
            transition: transform 0.2s ease-in;
            vertical-align: middle;
          }
        }
      }
      .hotSearch {
        .hotList {
          display: flex;
          flex-wrap: wrap;
          margin-top: 10px;
          max-height: 94px;
          overflow: hidden;
        }
        .hotItem {
          margin-right: 8px;
          margin-bottom: 8px;
          padding: 2px 4px;
          border: 1px solid #ccc;
          border-radius: 4px;
          font-size: 12px;
          color: #787878;
          cursor: pointer;
        }
      }
      .historySearch {
        margin-top: 6px;
        padding-top: 10px;
        border-top: 1px solid #dedede;
        .historyList {
          display: flex;
          flex-direction: column;
          margin-top: 10px;
        }
        .historyItem {
          line-height: 40px;
          &:hover {
            background-color: rgb(240, 240, 240);
          }
        }
      }
    }
  }
}

.operateWrapper {
  height: 100%;
  .register {
    margin: 0 10px;
    width: 80px;
    height: 38px;
    border: 1px solid rgba(236, 97, 73, 0.7);
    border-radius: 20px;
    font-size: 16px;
    color: $color-primary;
    background-color: transparent;
    &:hover {
      color: #ec6149;
      border-color: #ec6149;
      background-color: rgba(236, 97, 73, 0.05);
    }
  }
  .writing {
    margin: 0 10px;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    font-size: 16px;
    color: #fff;
    background-color: $color-primary;
  }
}
